body{
    background-color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

hr{
    margin-top: 3%;
}

.jsTitle{
    color:black;
    align-self: center;
    cursor: pointer;
}

.jsTitle:hover{
    transform: scale(1.1);
    transition: .5s;
}

.upperBar{
    display: flex;
    align-self: right;
    flex-direction: row;
    padding-left: 50%; /*1260px;*/
    margin-bottom: 30px;
    background-color: black;
}       

.upperBar li{
    display: block;
    cursor: pointer;
    float: right;
    list-style: none;
    padding: 20px 16px;
}

.upperBar li:hover{
    transform: scale(1.1);
    transition: .5s;
    background-color: #7e7e7e9f;
    border-radius: 5px;
}

.upperBar a{
    display: block;
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 3px;
}

.first{
    /* margin-left: 150px;
    margin-right: 150px; */
    margin-left: 10%;
    margin-right: 10%;
}

.jsImage {
    width: 8%; /* 변경: 50%로 수정 */
    height: auto; /* 변경: 비율을 유지하기 위해 자동 높이 설정 */
    float: right;
    border-radius: 10%;
    overflow: hidden;
    box-sizing: border-box; /* 추가: 너비가 변경되어도 요소의 크기를 고정하기 위해 */
}

.jsImage img {
    width: 100%; /* 변경: 이미지 너비 100%로 설정 */
    height: auto;
    display: block;
}

.ysLogo {
    width: 11%; /* 변경: 50%로 수정 */
    height: auto; /* 변경: 비율을 유지하기 위해 자동 높이 설정 */
    float: left;
    box-sizing: border-box; /* 추가: 너비가 변경되어도 요소의 크기를 고정하기 위해 */
}

.ysLogo img {
    width: 10%; /* 변경: 이미지 너비 100%로 설정 */
    height: auto;
    display: block;
}

/* 모바일 화면에 대한 스타일 조정 */
@media screen and (max-width: 768px) {
    .jsImage{
        width: 50%; /* 모바일 화면에 맞게 100%로 조정 */
        float: right; /* 모바일 화면에서는 float 제거 */
        margin-bottom: 20px; /* 요소들 사이에 여백 추가 */
        border-radius: 10%; /* 모바일 화면에서는 border-radius 제거 */
    }

    .ysLogo {
        width: 50%; /* 모바일 화면에 맞게 100%로 조정 */
        float: left; /* 모바일 화면에서는 float 제거 */
        margin-top: 20px; /* 요소들 사이에 여백 추가 */
        border-radius: 10%; /* 모바일 화면에서는 border-radius 제거 */
    }
}

.myProfile{
    color: black;
    /* font-size: 15px;
    line-height: 30px;
    padding-left: 225px; */
    font-size: 100%;
    line-height: 200%;
    padding-left: 0%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%; /* 부모 요소의 최대 너비를 100%로 제한합니다. */
}

.myProfile .profileInfo {
    display: flex;
    flex-direction: column; /* 항목들을 세로로 배치합니다. */
}

.myProfile .profileInfo .profileName::before,
.myProfile .profileInfo .student::before {
    content: none; /* 선택한 요소들의 가상 요소 bullet을 제거합니다. */
}

/* .myProfile .profileInfo p,
.myProfile .profileInfo a {
    margin-bottom: 10px;
    position: relative;
} */

/* .myProfile .profileInfo p::before,
.myProfile .profileInfo a::before {
    content: '';
    position: absolute;
    left: -20px; 
    top: 12.5px; 
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000; 
} */

.myProfile img {
    max-width: 20%; /* 이미지의 최대 너비를 조절할 수 있습니다. */
    max-width: 300px;
    height: auto;
    border-radius: 10%;
}

.myProfile .profileName{
    color: black;
    font-size: 200%;
    line-height: 150%;
}

.myProfile .student{
    color: black;
    font-size: 150%;
    line-height: 100%;
}

.section{
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: -2.5%; */
    color:black;
}

@media screen and (max-width: 768px) {
    .myProfile {
        flex-direction: column-reverse; /* 이미지를 텍스트 위로 배치 */
        align-items: center;
    }

    .myProfile img {
        width: 50%; /* 이미지 크기 조정 */
        max-width: 100%; /* 이미지 최대 너비 설정 */
        margin-bottom: 10px; /* 이미지 아래 여백 추가 */
    }
}

.check-btn { display: none;}
.check-btn:checked ~ .menubars { display: block;} 
.menubars { display: none;}

hr {
    margin-top: 1%; /* 위쪽 마진을 없애거나 조절합니다. */
  }
span.label {
display: inline-block;
vertical-align: middle;
font-size: 100%;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
border-radius: .25em;
padding: 3px 3px 3px;
}

span.label-total { background-color: #000000; }
span.label-mobile { background-color: #4CAF50; }
span.label-ai { background-color: #2196F3; }
span.label-sec { background-color: #F44336; }
span.label-fed { background-color: #FF9800; }
span.label-med { background-color: #BA55D3; }
