body{
    background-color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

hr{
    margin-top: 30px;
}

.jsTitle{
    color:white;
    align-self: center;
    cursor: pointer;
}

.jsTitle:hover{
    transform: scale(1.1);
    transition: .5s;
}

.upperBar{
    display: flex;
    align-self: right;
    flex-direction: row;
    padding-left: 1260px;
    margin-bottom: 30px;
    background-color: blanchedalmond;
}

.upperBar li{
    display: block;
    cursor: pointer;
    float: right;
    list-style: none;
    padding: 20px 16px;
}

.upperBar li:hover{
    transform: scale(1.1);
    transition: .5s;
    background-color: #7e7e7e9f;
    border-radius: 5px;
}

.upperBar a{
    display: block;
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 3px;
}

.first{
    margin-left: 150px;
    margin-right: 150px;
}

.jsImage{
    width: 20%;
    float: right;
    border-radius: 10%;
}

.ysLogo{
    width: 20%;
    float: left;
}

.myProfile{
    color: white;
    font-size: 15px;
    line-height: 30px;
    padding-left: 370px;
}

.myProfile .profileName{
    color: rgb(245, 240, 234);
    font-size: 35px;
    line-height: 1px;
}

.section{
    margin-left: 150px;
    margin-right: 150px;
    color: white;

}